.customer
{

    margin-bottom:2rem;
}
.customer .box
{
	    background-color:white;
        justify-items:center;
        align-items:center;
	    width:95%;
        gap: 1rem;
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
}

.customer label
{
    color:black;
    font-size:1.5rem;
    font-weight:bold;
    margin-top:2rem;
}

.customer .form-control
{
    color:black;
    font-size:1.3rem;
    border:2px solid black;
    border-radius:.5rem;
    margin-top:1rem;

}
.customer .btnclass
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem;
    padding-bottom:3rem;
 }
.customer .bookbtn
{
    display: block;
    padding: 1px 1px;
    width: 20rem;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: bold;
    border: 3px solid gray;
    border-radius: 0.5rem;
    text-align: center;;
}