
/* footer section*/
.footer_section {
  background-color: #222831;
  color: #ffffff;
  padding: 50px 0 40px 0;
  text-align: center;
}

.footer_section h4 {
  font-size: 30px;
  color:red;
}

.footer_section h4,
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'font-family: serif';
  color:#fdbf2b;
}

.footer_section p {
  color:white;
  font-size:1.4rem;
  font-weight:bold;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
  font-weight:bold;
  font-size:1.2rem;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}



.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p span1 {

  margin: 0;
  color:#fdbf2b;

}

.footer_section .footer-info p a {
  color: inherit;
}