
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 400%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}





.modal .row label
{
    color:black;
    font-size:1.4rem;
    font-weight::bold;
}

.modal .row .form-control
{
    color:black;
    font-size:1.4rem;
    font-weight::bold;
    border:2px solid black;
    border-radius:.5rem;
    text-align:center;
}

.bookdetails .value-button {
  display: inline-block;
  border: 2px solid #ddd;
  margin: 1px;
  width: 50px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 1px 0;
  background: darkorange;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size:2rem;
  color:black;
  font-weight:bold;
}
/* number of items adding */
.bookdetails .box .value-button:hover {
  cursor: pointer;
}

.bookdetails form #decrease {
  margin-right: -12px;
  border-radius: 8px 0 0 8px;
}

.bookdetails form #increase {
  margin-left: -8px;
  border-radius: 0 8px 8px 0;
}

.bookdetails form #input-wrap {
  margin: 0px;
  padding: 0px;
}

.bookdetails input#number {
  text-align: center;
  border: none;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin: 1px;
  width: 40px;
  height: 40px;
    font-size:1.5rem;
    color:black;
    font-weight:bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
